@charset "UTF-8";
/* CSS Document */

/* Non-page specific stylings */

h1 {
  font-size: 3.052rem;
  margin-top: 2rem;
}

h2 {
  font-size: 2.441rem;
  margin-top: 2rem;
}

h3 {
  font-size: 1.953rem;
  margin-top: 2rem;
}

h4 {
  font-size: 1.563rem;
  margin-top: 2rem;
}

h5 {
  font-size: 1.25rem;
  margin-top: 2rem;
}

small, .text_small {
  font-size: 0.8rem;
}

p {
  margin-bottom: 0.5rem;
}

.descriptiveText {
  margin-top: 2rem;
}

.bText {
  margin-top: 2rem;
}

.emphasis {
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#cremini {
  font-style: italic;
}

.container {
  width: 60rem;
}

.navbar-dark {
  --bs-navbar-color: rgba(132, 220, 198, 0.55);
  --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.55);
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgba(2, 52, 53, 1.0) !important;
}

.navbar-toggler {
      border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
}

.homepage {
  padding-top: 10px;
}

.footer {
  background-color: rgba(2, 52, 53, 1.0);
  color : rgba(132, 220, 198, .55);
  text-align : center;
  padding-top: 15px;
  margin-top : 10px;
  height : 60px;
  width : 100%;
  position : fixed;
  bottom : 0;
}

.designpage {
  padding-top: 10px;
}

.cardContainer {
  max-width: 1000px;
}

.btn {
  background-color: rgba(97, 3, 69, 1.0);
}

.btn-primary {
  border-color: rgba(97, 3, 69, 1.0);
}

.btn-primary:visited,
.btn-primary:active,
.btn-primary:focus {
  background-color: rgba(97, 3, 69, 1.0);
}


.btn-primary:hover {
  background-color: #FFFFFF;
  color : rgba(97, 3, 69, 1.0);
  border-color: rgba(97, 3, 69, 1.0);
}

.modal-body {
  text-align: center;
}


/* twoTypefaces page */

.twoTypefaces {
  margin-bottom: 8rem;
}
.twoTypefaces h1 {
  font-family: 'Roboto Slab', serif;
}

.twoTypefaces h2 {
  font-family: 'Roboto Slab', serif;
}

.twoTypefaces h3 {
  font-family: 'Roboto Slab', serif;
}

.twoTypefaces h4 {
  font-family: 'Roboto Slab', serif;
}

.twoTypefaces p {
  font-family: 'Source Sans Pro', sans-serif;
}

/* oneTypeface page */

.oneTypeface {
  margin-bottom: 8rem;
}

.oneTypeface h1 {
  font-family: 'Libre Franklin', sans-serif;
}

.oneTypeface h2 {
  font-family: 'Libre Franklin', sans-serif;
}

.oneTypeface h3 {
  font-family: 'Libre Franklin', sans-serif;
}

.oneTypeface h4 {
  font-family: 'Libre Franklin', sans-serif;
}

.oneTypeface p {
  font-family: 'Libre Franklin', sans-serif;
}

/* studentChoice page */

.studentChoice {
  margin-bottom: 8rem;
}

.studentChoice h1 {
  font-family: 'Noto Serif', serif;
}

.studentChoice h2 {
  font-family: 'Noto Serif', serif;
}

.studentChoice h3 {
  font-family: 'Noto Serif', serif;
}

.studentChoice h4 {
  font-family: 'Noto Serif', serif;
}

.studentChoice p {
  font-family: 'IBM Plex Sans', sans-serif;
}
