@charset "UTF-8";
/* CSS Document */

body {
  font-family: Avenir Next, Arial, Helvetica, sans-serif;
}

.navbar-dark {
  --bs-navbar-color: rgba(255, 255, 255, 0.55);
  --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgba(152, 174, 195, 1.0) !important; /* Change this color. Color is not dark enough for the Webaim Color Contrast Tool */
}

.navbar-toggler {
      border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color); /* This is the border around the hamburger menu. The prof made this color stand out more so (changed it to white?) so that there was a higher contrast. See 23:20. It's around there */
}

.homepage {
  padding-top: 10px;
}

.footer {
  background-color: rgba(152, 174, 195, 1.0);
  color : rgba(50, 82, 64, 1.0);
  text-align : center;
  padding-top: 15px;
  margin-top : 10px;
  height : 60px;
  width : 100%;
  position : fixed;
  bottom : 0;
}

.designpage {
  padding-top: 10px;
}

.cardContainer {
  max-width: 1000px;
}

.btn {
  background-color: #F9CBB2; /* CHANGE TO BETTER COLOR*/
}

.btn-primary:visited,
.btn-primary:active,
.btn-primary:focus {
  background-color: #F9CBB2; /* CHANGE TO BETTER COLOR. Also not sure if this is supposed to be the same color as the btn background color. I don't rmember. */
}

.btn-primary:hover {
  background-color: black;
}

.modal-body {
  text-align: center;
}
