@charset "UTF-8";
/* CSS Document */

body {
  font-family: Avenir Next, Arial, Helvetica, sans-serif;
  margin-bottom : 5em;
}

.navbar-dark {
  --bs-navbar-color: rgba(132, 220, 198, 0.55);
  --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.55);
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgba(2, 52, 53, 1.0) !important;
}

.navbar-toggler {
      border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
}

.homepage {
  padding-top: 10px;
}

.footer {
  background-color: rgba(2, 52, 53, 1.0);
  color : rgba(132, 220, 198, .55);
  text-align : center;
  padding-top: 15px;
  margin-top : 10px;
  height : 60px;
  width : 100%;
  position : fixed;
  bottom : 0;
}

.designpage {
  padding-top: 10px;
}

.cardContainer {
  max-width: 1000px;
}

.btn {
  background-color: rgba(97, 3, 69, 1.0);
}

.btn-primary {
  border-color: rgba(97, 3, 69, 1.0);
}

.btn-primary:visited,
.btn-primary:active,
.btn-primary:focus {
  background-color: rgba(97, 3, 69, 1.0);
}


.btn-primary:hover {
  background-color: #FFFFFF;
  color : rgba(97, 3, 69, 1.0);
  border-color: rgba(97, 3, 69, 1.0);
}

.modal-body {
  text-align: center;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: rgba(97, 3, 69, 1.0);
    box-shadow: inset 0 calc(var(--bs-accordion-border-width) * -1) 0 var(--bs-accordion-border-color);
  }

.accordion-button {
  background-color: rgba(97, 3, 69, 0.25);
}

/* .carousel-inner {
  height : 20em;
} This works to shorten the height of the cover page but I can't figure out how to move the photo up so that I can look at the part of the picture I want to look at. Without being able to position the photo properly, all I can see of the mountain picture is the very top of one of the peaks.*/
