@charset "UTF-8";
/* CSS Document */

body {
  font-family: Avenir Next, Arial, Helvetica, sans-serif;
  margin-bottom : 5em;
}

.navbar-dark {
  --bs-navbar-color: rgba(132, 220, 198, 0.55);
  --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.55);
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgba(2, 52, 53, 1.0) !important;
}

.navbar-toggler {
      border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color); /* This is the border around the hamburger menu. The prof made this color stand out more so (changed it to white?) so that there was a higher contrast. See 23:20. It's around there */
}

.homepage {
  padding-top: 10px;
}

.footer {
  background-color: rgba(2, 52, 53, 1.0);
  color : rgba(132, 220, 198, .55);
  text-align : center;
  padding-top: 15px;
  margin-top : 10px;
  height : 60px;
  width : 100%;
  position : fixed;
  bottom : 0;
}

.designpage {
  padding-top: 10px;
}

.cardContainer {
  max-width: 1000px;
}

.btn {
  background-color: rgba(97, 3, 69, 1.0);
}

.btn-primary {
  border-color: rgba(97, 3, 69, 1.0);
}

.btn-primary:visited,
.btn-primary:active,
.btn-primary:focus {
  background-color: rgba(97, 3, 69, 1.0);
}


.btn-primary:hover {
  background-color: #FFFFFF;
  color : rgba(97, 3, 69, 1.0);
  border-color: rgba(97, 3, 69, 1.0);
}

.modal-body {
  text-align: center;
}
